/* VARS */
/*30px*/
/*40px*/
/*24px*/
/*32px*/
/*24px*/
/*24px*/
/*20px*/
/* 18px */
/* 16px, base */
/* BACKGROUND COLOR */
.bgc-black {
  background-color: #2E2D2C;
}

.bgc-transparent {
  background-color: transparent;
}

.bgc-light-blue {
  background-color: #96DEE1;
}

.bgc-blue {
  background-color: #1EA7AC;
}

.bgc-grey {
  background-color: #707070;
}

.bgc-light-grey {
  background-color: #EAEAE9;
}

.bgc-yellow {
  background-color: #EFD857;
}

.bgc-light-yellow {
  background-color: rgba(239, 216, 87, 0.7);
}

.bgc-pink {
  background-color: #eebcd8;
}

.bgc-purple {
  background-color: #413B8A;
}

.bgc-red {
  background-color: #E74011;
}

.bgc-light-red {
  background-color: #ffa185;
}

.bgc-green {
  background-color: #6CBE99;
}

.bgc-light-green {
  background-color: #9ADFBF;
}

.bg-none {
  background: none;
}

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v129/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format("woff2");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

/* BORDER */
.border-radius-5 {
  border-radius: 5px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.border-radius-15 {
  border-radius: 15px !important;
}

.border-radius-20 {
  border-radius: 20px !important;
}

.border-radius-25 {
  border-radius: 25px !important;
}

.border-radius-30 {
  border-radius: 30px !important;
}

.border-radius-40 {
  border-radius: 40px !important;
}

.white {
  color: white !important;
}

.black {
  color: black !important;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
header .left, header .right {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 30px;
}
header .header-container {
  margin-left: 25px;
  margin-right: 25px;
}
header .hide {
  display: block;
}
header .show {
  display: none;
}
header .account {
  display: flex;
  position: relative;
  align-items: center;
}
header .account:hover {
  cursor: pointer;
}
header .burger-cont {
  width: max-content;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
header .burger-cont:hover {
  cursor: pointer;
}
header .burger-cont div {
  background: #2E2D2C;
  height: 3px;
  border-radius: 100px;
}
header div.deroulant {
  visibility: hidden;
  position: absolute;
  padding: 7px 10px;
  left: -15px;
  top: 50px;
  border-radius: 8px;
  box-shadow: 0px 29px 11px rgba(0, 0, 0, 0.03), 0px 16px 10px rgba(0, 0, 0, 0.09), 0px 7px 7px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.18), 0px 0px 0px rgba(0, 0, 0, 0.18);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 26px;
  text-transform: none;
}
header .visible {
  visibility: visible !important;
}
header .deroulant a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
header .deroulant a:hover {
  background: #EFD857;
}
header #deroulant-1 {
  width: 325px;
  height: 250px;
}
header #deroulant-1 a:nth-child(1),
header #deroulant-1 a:nth-child(4),
header #deroulant-2 > a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #deroulant-2 {
  width: 184px;
  height: 212px;
}
header #deroulant-2-2 {
  top: 200%;
  left: 160%;
  flex-direction: row;
  align-items: flex-start;
  cursor: default;
}
header #deroulant-2-2 div {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
header #deroulant-2-2 div:nth-child(1) {
  height: 100%;
}
header #deroulant-2-2 a {
  height: initial;
  width: 100%;
}
header #deroulant-3 {
  width: 202px;
}
header #deroulant-3 a {
  width: 100%;
}
header #deroulant-3 div {
  width: 100%;
  height: 1px;
  background: #2E2D2C;
  transform: scaleX(111%);
  margin: 5px 0;
}

footer {
  background-color: #EFD857;
  margin-top: 100px;
  padding-bottom: 50px;
}
footer .logo {
  padding-top: 30px;
  padding-bottom: 30px;
}
footer input {
  padding: 10px;
  display: block;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 8px;
}
footer .rs {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 35px;
}
footer .rs .logos {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 15px;
}
footer .rs .rsText {
  display: flex;
  flex-flow: row wrap;
  column-gap: 25px;
  row-gap: 10px;
}
footer .three {
  display: grid;
  gap: 20px 40px;
}
footer .three h5 {
  margin-bottom: 5px;
}
footer .three ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .newsletter {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
footer .copyright {
  display: flex;
  flex-direction: column;
  gap: 0px 65px;
}
footer p.renouv, footer .copyright {
  margin-top: 30px;
}

@media only screen and (min-width: 992px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .header-container {
    margin-left: 96px;
    margin-right: 96px;
  }
  header .hide {
    display: none;
  }
  header .show {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
  }
  header .account {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
  }
  footer .three {
    margin-top: 50px;
    width: 100%;
    grid-template-columns: 40% 30% 30%;
  }
  footer .copyright {
    flex-direction: row;
  }
}
/* INIT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 1.875rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

h5 {
  font-size: 1.125rem;
  font-weight: 600;
}

p, a, li {
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none !important;
  color: inherit;
}
a:hover {
  text-decoration: none !important;
}

li {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

/** TEXT COLORS **/
.r-bold {
  font-weight: bold;
}

.r-aqua {
  color: #1EA7AC;
}

/** BUTTONS **/
.r-kit-btn {
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 15px;
  background-color: #EFD857;
  color: #2E2D2C;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 1rem;
}

@media screen and (max-width: 992px) {
  .r-kit-btn, .r-kit-btn-white, .r-kit-btn-pink {
    font-size: 15px;
  }
}
.r-kit-btn-white {
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 15px;
  background-color: white;
  color: #2E2D2C;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 1rem;
}
@media screen and (max-width: 992px) {
  .r-kit-btn-white {
    font-size: 15px;
  }
}

.r-kit-btn-pink {
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 15px;
  background-color: #f1a3b9;
  color: #2E2D2C;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 1rem;
}
@media screen and (max-width: 992px) {
  .r-kit-btn-pink {
    font-size: 15px;
  }
}

html {
  font-size: 100%;
  line-height: 1.5;
  position: relative;
}

.h2-text {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.container {
  margin-left: 25px;
  margin-right: 25px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.margin-top-section {
  margin-top: 70px;
}

.light {
  font-weight: 300;
}

span.bold {
  font-weight: 600;
}

section.hero {
  background-color: #EFD857;
  background-image: url("../svg/bg.svg");
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 35px;
}
section.hero .text_intro p {
  display: none;
}
section.hero .home_search_form {
  margin-top: 42px;
}
section.hero .home_search_form .form_content {
  border: 5px solid white;
  background-color: white;
  padding-left: 0px;
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 5px;
  justify-content: space-between;
}
section.hero .home_search_form .form_content > div > * {
  height: 50px;
  display: flex;
  align-items: center;
}
section.hero .home_search_form .form_content button {
  box-sizing: border-box;
  width: 100%;
}
section.hero .home_search_form .form_content img {
  max-width: 100%;
  max-height: 40px;
}
section.hero .home_search_form .form_content .line:after {
  content: "";
  display: table;
  clear: both;
}
section.hero .home_search_form .form_content .line > div {
  float: left;
}
section.hero .home_search_form .form_content .line > div:first-child {
  width: 60%;
}
section.hero .home_search_form .form_content .line > div:last-child {
  width: 40%;
  margin: 0;
}
section.hero .with_logo {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  column-gap: 10px;
}
section.hero .heroBtn {
  border-radius: 0 0 20px 20px;
  text-transform: uppercase;
  background-color: #EFD857;
  color: #2E2D2C;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  padding: 25px 35px;
}
section.hero input {
  padding: 10px;
  display: block;
  width: 100%;
  border: none;
}
section.hero select {
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: none;
  width: 100%;
}
section.hero .logos {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
section.hero .logos img {
  width: 50px;
  height: 50px;
}

section.fourCards .cards {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
}
section.fourCards img {
  display: none;
}
section.fourCards .card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  background-color: white;
  height: 250px;
}
section.fourCards .card h4 {
  width: 60%;
}
section.fourCards .card.active {
  background-color: #EFD857;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
section.fourCards .card.active > .svg__yellow {
  background-image: url("../svg/white.svg");
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
section.fourCards .svg {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 25%);
}
section.fourCards .svg__yellow {
  background-image: url("../svg/yellow.svg");
}

section.parisNY .h2-text p {
  margin-top: 30px;
  margin-bottom: 30px;
}
section.parisNY a {
  margin-top: 40px;
  position: relative;
  width: fit-content;
  color: #707070;
  text-transform: uppercase;
  transition: 0.5s;
}
section.parisNY a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #EFD857;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
section.parisNY a:hover {
  color: #2E2D2C;
}
section.parisNY a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

section.offres .accordion {
  display: flex;
  flex-direction: column;
}
section.offres .accordion__item {
  margin-bottom: 40px;
  flex: 1;
}
section.offres .accordion__title {
  padding: 0px 15px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  position: relative;
  font-weight: 400;
  justify-content: space-between;
}
section.offres .accordion__title .text {
  text-align: left;
}
section.offres .accordion__title:hover, section.offres .accordion__title:focus {
  cursor: pointer;
}
section.offres .accordion__title:hover h5, section.offres .accordion__title:focus h5 {
  border-bottom-color: #a8bdc4;
  display: inline-block;
}
.is-expanded section.offres .accordion__title:before {
  content: "\f056";
}
section.offres .accordion__content-inner {
  padding: 30px 0px;
}
section.offres .accordion__content {
  transition: height 0.3s ease-out;
  height: 0;
  overflow: hidden;
}
section.offres .accordion li {
  list-style-position: inside !important;
  margin-top: 10px;
}
section.offres .devis {
  margin-top: 50px;
  text-align: center;
}

section.pepitesFestives .pepite {
  cursor: pointer;
}
section.pepitesFestives .pepite .img {
  width: 100%;
}
section.pepitesFestives .pepite .img__one {
  height: 260px;
}
section.pepitesFestives img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
section.pepitesFestives .light {
  margin-top: 25px;
}

section.premierPas #inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 25px;
  row-gap: 25px;
}
section.premierPas #inner > * {
  position: relative;
  width: 340px;
  height: 140px;
  padding: 15px;
  border-radius: 10px;
}
section.premierPas #inner > *:hover, section.premierPas #inner > *:focus {
  background-color: #EFD857;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  cursor: pointer;
}
section.premierPas #inner > *:hover > .svg__yellow, section.premierPas #inner > *:focus > .svg__yellow {
  background-image: url("../svg/white.svg");
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
section.premierPas .svg {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 25%);
}
section.premierPas .svg__yellow {
  background-image: url("../svg/yellow.svg");
}

section.avisClient .avis {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 40px;
}
section.avisClient .avis .svg__pink {
  background-image: url("../svg/pink.svg");
}
section.avisClient .avis .text {
  width: 60%;
}
section.avisClient a {
  margin-top: 40px;
  position: relative;
  width: fit-content;
  color: #707070;
  text-transform: uppercase;
  transition: 0.5s;
}
section.avisClient a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #EFD857;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
section.avisClient a:hover {
  color: #2E2D2C;
}
section.avisClient a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

section.presse .liens {
  margin-top: 35px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 35px;
}
section.presse .liens img {
  width: 80px;
  height: 80px;
}

section.devenir .prestataire {
  background-color: #EFD857;
  border-radius: 10px;
  padding: 20px;
}
section.devenir .prestataire button {
  cursor: pointer;
}
section.devenir .both {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  row-gap: 40px;
}
section.devenir .both > * {
  height: 220px;
}
section.devenir .choix {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
section.devenir h3 {
  margin-bottom: 15px;
}
section.devenir a {
  margin-top: 40px;
  position: relative;
  width: fit-content;
  color: #707070;
  text-transform: uppercase;
  transition: 0.5s;
}
section.devenir a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #EFD857;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
section.devenir a:hover {
  color: #2E2D2C;
}
section.devenir a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
section.devenir .inside {
  width: 60%;
  flex-grow: 1;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    margin-left: 120px;
    margin-right: 120px;
  }
  section.fourCards .cards {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px;
  }
  section.fourCards .img {
    display: none;
  }
  section.fourCards .two_cards {
    display: flex;
    flex-flow: column nowrap;
    height: 500px;
    gap: 4%;
  }
  section.fourCards .card__1 {
    height: 54%;
  }
  section.fourCards .card__2 {
    height: 42%;
  }
  section.fourCards .card__3 {
    height: 36%;
  }
  section.fourCards .card__4 {
    height: 60%;
  }
  section.offres .accordion {
    width: 80%;
    flex-direction: row;
    column-gap: 40px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.125rem;
  }
  .container {
    margin-left: 200px;
    margin-right: 200px;
  }
  .h2-text {
    width: 60%;
  }
  .margin-top-section {
    margin-top: 100px;
  }
  section.hero {
    padding-top: 120px;
  }
  section.hero .text_intro h1 {
    width: 60%;
  }
  section.hero .text_intro p {
    margin-top: 15px;
    display: inline-block;
    width: 50%;
  }
  section.hero .form_content {
    flex-flow: row nowrap !important;
    padding-left: 30px;
    column-gap: 10px;
    height: 100px;
  }
  section.hero .form_content > div > * {
    height: 100% !important;
  }
  section.hero .form_content .line {
    width: 40%;
  }
  section.hero .form_content > div:nth-child(3), section.hero .form_content > div:nth-child(2) {
    width: 30%;
  }
  section.hero .logos > img {
    width: 100px !important;
    height: 100px !important;
  }
  section.hero .heroBtn {
    border-radius: 0 20px 20px 0;
  }
  section.fourCards .cards {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    gap: 40px;
  }
  section.fourCards .two_cards {
    display: flex;
    flex-flow: column nowrap;
    height: 520px;
    gap: 4%;
  }
  section.fourCards img {
    display: block;
    width: 100%;
    height: 520px;
    object-fit: cover;
    border-radius: 10px;
  }
  section.fourCards .card {
    height: 48%;
  }
  section.offres .accordion {
    width: 80%;
    flex-direction: row;
    column-gap: 40px;
    margin: 0 auto;
  }
  section.devenir .prestataire {
    background-color: #EFD857;
    border-radius: 10px;
    padding: 20px;
  }
  section.devenir .both {
    flex-flow: row nowrap;
    column-gap: 40px;
  }
}

/*# sourceMappingURL=styles.css.map */
