/* BACKGROUND COLOR */
.bgc-black {
  background-color: #2E2D2C;
}

.bgc-transparent {
  background-color: transparent;
}

.bgc-light-blue {
  background-color: #96DEE1;
}

.bgc-blue {
  background-color: #1EA7AC;
}

.bgc-grey {
  background-color: #707070;
}

.bgc-light-grey {
  background-color: #EAEAE9;
}

.bgc-yellow {
  background-color: #EFD857;
}

.bgc-light-yellow {
  background-color: rgba(239, 216, 87, 0.7);
}

.bgc-pink {
  background-color: #eebcd8;
}

.bgc-purple {
  background-color: #413B8A;
}

.bgc-red {
  background-color: #E74011;
}

.bgc-light-red {
  background-color: #ffa185;
}

.bgc-green {
  background-color: #6CBE99;
}

.bgc-light-green {
  background-color: #9ADFBF;
}

.bg-none {
  background: none;
}

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v129/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format("woff2");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

/* BORDER */
.border-radius-5 {
  border-radius: 5px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.border-radius-15 {
  border-radius: 15px !important;
}

.border-radius-20 {
  border-radius: 20px !important;
}

.border-radius-25 {
  border-radius: 25px !important;
}

.border-radius-30 {
  border-radius: 30px !important;
}

.border-radius-40 {
  border-radius: 40px !important;
}

.white {
  color: white !important;
}

.black {
  color: black !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}

li {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

/** TEXT COLORS **/
.r-bold {
  font-weight: bold;
}

.r-aqua {
  color: #1EA7AC;
}

/** BUTTONS **/
.r-kit-btn {
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 15px;
  background-color: #EFD857;
  color: #2E2D2C;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 16px;
}

@media screen and (max-width: 992px) {
  .r-kit-btn, .r-kit-btn-white, .r-kit-btn-pink {
    font-size: 15px;
  }
}
.r-kit-btn-white {
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 15px;
  background-color: white;
  color: #2E2D2C;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .r-kit-btn-white {
    font-size: 15px;
  }
}

.r-kit-btn-pink {
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 15px;
  background-color: #f1a3b9;
  color: #2E2D2C;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .r-kit-btn-pink {
    font-size: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
