header {
    
    position: sticky;
    top: 0;
    background-color: $white;
    z-index:10;
    box-shadow : 0px 3px 6px #00000029;

    a {
        position: relative;
    
        &::after {
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          width: 100%;
          height: 3px;
          background: $yellow;
          transform: scaleX(0);
          transition: transform 0.5s;
        }
    
        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }

    .left, .right {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 30px;
    }
    
    .header-container {
        margin-left: 25px;
        margin-right: 25px;
    }

    .hide {
        display: block;
    }

    .show {
        display: none;
    }

    .account {
        display: flex;
        position: relative;
        align-items: center;

        &:hover {cursor: pointer;}
    }

    .prestas {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        align-items: center;

        &:hover {cursor: pointer;}
    }

    .burger-cont {
        width: max-content;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
      }
      .burger-cont:hover {
        cursor: pointer;
      }
      .burger-cont div {
        background: $black;
        height: 3px;
        border-radius: 100px;
      }
    
      
      div.deroulant {
        visibility: hidden;
        position: absolute;
        padding: 7px 10px;
        top: 50px;
        border-radius: 8px;

        box-shadow: 0px 29px 11px rgba(0, 0, 0, 0.03),
          0px 16px 10px rgba(0, 0, 0, 0.09), 0px 7px 7px rgba(0, 0, 0, 0.15),
          0px 2px 4px rgba(0, 0, 0, 0.18), 0px 0px 0px rgba(0, 0, 0, 0.18);
        background: $white;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 26px;
        text-transform: none;
      }
      .visible {
        visibility: visible !important;
      }
      .deroulant a {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        justify-content: space-between;
      }
    
      #deroulant-1 {
        width: 325px;
        height: fit-content;
        left: -15px;
        overflow: hidden;

        div {
            display: block;
            width: 100%;
            height: 1px;
            background: $grey;
            transform: scaleX(111%);
            margin: 5px 0;
          }

        &:nth-child(-n+5) {
            display: block;
        }
      }

      #deroulant-2 {
        width: 184px;
        height: fit-content;
      }

      #deroulant-2-2 {
        top: 200%;
        left: 160%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        cursor: default;

        div {
            width: max-content;
            display: flex;
            flex-direction: column;
            gap: 5px;

            &:nth-child(1) {
                height: 100%;
            }
        }

        a {
            height: initial;
            width: 100%;
        }
      }

      #deroulant-3 {
        width: 202px;
        height: fit-content;
        overflow: hidden;
        right: -15px;
    
        a {
            width: 100%;
        }
        div {
            width: 100%;
            height: 1px;
            background: $grey;
            transform: scaleX(111%);
            margin: 5px 0;
          }
      }
}

footer {
    background-color: $yellow;
    margin-top: 100px;
    padding-bottom: 50px;

    .logo {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    input {
        padding:10px;
        display:block;
        width:100%;
        height: 45px;
        border:none;
        border-radius: 8px;
    }

    .rs {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin-bottom: 35px;
        
        .logos {
            display: flex;
            flex-flow : row nowrap;
            column-gap: 15px;
        }

        .rsText {
            display: flex;
            flex-flow: row wrap;
            column-gap: 25px;
            row-gap: 10px;
        }
    }

    .three {
        display: grid;
        gap: 20px 40px;

        h5 { 
            margin-bottom: 5px;  
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .newsletter {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        &__subscribe {
            margin-top: 20px;
            font-size: $fs-base;
            font-weight: $fw-base;
            background-color: $white;
            color: $black;

            &:hover, &:active {
                cursor: pointer;
                background-color: $lightGrey;
            }
        }
    }

    .copyright {
        display: flex;
        flex-direction: column;
        gap: 0px 65px;
    }

    .copyright {
        margin-top: 80px;
    }
}

@media only screen and (min-width: 992px) {

    header {
        padding-top:10px;
        padding-bottom:10px;

        .header-container {
            margin-left: 96px;
            margin-right: 96px;
        }        

        .hide {
            display: none;
        }
    
        .show {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            align-items: center;
        }

        .account {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            align-items: center;
        }

        #deroulant-1 {
            div {
                display: none;
            }
            a:nth-child(-n+5) {
                display: none;
            }
        }
    }

    footer {
        .three {
            margin-top: 50px;
            width: 100%;
            grid-template-columns: 40% 30% 30%;

            :nth-child(2), :nth-child(3) {
                display: flex;
                flex-direction: column;

                ul {
                    flex-grow: 1;
                }
            }
        }

        .copyright {
            flex-direction: row;
        }
    }
}

