header {
    position: sticky;
    top: 0;
    background-color: $white;
    z-index:10;
    box-shadow : 0px 3px 6px #00000029;

    .left, .right {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 30px;
    }
    
    .header-container {
        margin-left: 25px;
        margin-right: 25px;
    }

    .hide {
        display: block;
    }

    .show {
        display: none;
    }

    .account {
        display: flex;
        align-items: center;
    }
}

footer {
    background-color: $yellow;
    margin-top: 100px;
    padding-bottom: 50px;

    .logo {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    input {
        padding:10px;
        display:block;
        width:100%;
        height: 45px;
        border:none;
        border-radius: 8px;
    }
    input:focus { outline:none; }

    .rs {
        .logos {
            display: flex;
            flex-flow : row nowrap;
            column-gap: 12px;
        }
    }

    .copyright {
        display: flex;
        gap: 65px;
    }

    p.renouv, .copyright {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 992px) {

    header {
        padding-top:10px;
        padding-bottom:10px;

        .header-container {
            margin-left: 96px;
            margin-right: 96px;
        }        

        .hide {
            display: none;
        }
    
        .show {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            align-items: center;
        }

        .account {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            align-items: center;
        }
    }

    footer {
        .three {
            margin-top: 50px;
            column-gap: 40px;
            width: 100%;
            display: grid;
            grid-template-columns: 60% 20% 20%;
        }

        .email_input {
            width: 60%;
        }
    }
}