/* VARS */

$black: #2E2D2C;
$grey: #707070;
$lightGrey:#EAEAE9;
$lightGrey2: #d8d8d8;
$yellow: #EFD857;
$blackYellow:#EFDD4A;
$lightYellow: #F7ECAB;
$lightYellow2: #fd00f9ca;
$aqua: #1EA7AC;
$lightBlue: #96DEE1;
$green: #6CBE99;
$lightGreen: #9ADFBF;
$blue: #3C4488;
$red:#E74011;
$altRed: #d13a0f;
$lightRed: #ffa185;
$pink: #eebcd8;
$purple: #413B8A;
$lightPurple: #A4A3D6;
$white: white;


$poppins: 'Poppins',sans-serif;


$fs-h1: 1.875rem; /*30px*/
$fs-h1-desk: 2.5rem; /*40px*/
$fs-h2: 1.5rem; /*24px*/
$fs-h2-desk: 2rem; /*32px*/
$fs-h3: 1.25rem; /*24px*/
$fs-h3-desk: 1.5rem; /*24px*/
$fs-h4: 1.25rem; /*20px*/
$fs-h5: 1.125rem;    /* 18px */
$fs-base: 1rem;    /* 16px, base */

$fw-h1: 700;
$fw-h2: 500;
$fw-h3: 500;
$fw-h4: 500;
$fw-h5: 600;
$fw-base: 400;

/* BACKGROUND COLOR */

.bgc-black{
  background-color: $black;
}
.bgc-transparent {
  background-color: transparent;
}

.bgc-light-blue {
  background-color: $lightBlue;
}

.bgc-blue {
  background-color: $aqua;
}

.bgc-grey {
  background-color: $grey;
}

.bgc-light-grey {
  background-color: $lightGrey;
}


.bgc-yellow {
  background-color: $yellow;
}


.bgc-light-yellow {
  background-color: rgba($yellow, 0.7);
}


.bgc-pink {
  background-color: $pink;
}

.bgc-purple {
  background-color: $purple;
}

.bgc-red {
  background-color: $red;
}

.bgc-light-red {
  background-color: $lightRed;
}

.bgc-green {
  background-color: $green;
}

.bgc-light-green {
  background-color: $lightGreen;
}

.bg-none {
  background: none;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v129/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* BORDER */

.border-radius-5 {
  border-radius: 5px!important;
}

.border-radius-10 {
  border-radius: 10px!important;
}

.border-radius-15 {
  border-radius: 15px!important;
}

.border-radius-20 {
  border-radius: 20px!important;
}

.border-radius-25 {
  border-radius: 25px!important;
}

.border-radius-30 {
  border-radius: 30px!important;
}

.border-radius-40 {
  border-radius: 40px!important;
}


.white{
  color: white!important;
}

.black{
  color: black!important;
}

.margin-top-section {
  margin-top: 50px;
}