html {
    font-size: 100%;
    line-height: 1.5;
    position: relative;
}

.h2-text {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.container {
    margin-left: 25px;
    margin-right: 25px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.margin-top-section {
  margin-top: 70px;
}

span.bold {
  font-weight: 600;
}

section.hero {
    background-color: $yellow;
    background-image: url('../svg/bg.svg');
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 35px;

    .text_intro p{
        display: none;
    }

    .home_search_form {
        margin-top: 42px;

        .form_content {
            padding: 10px;
            background-color: $white;
            border-radius: 20px;
            display: flex;
            flex-flow: column nowrap;
            row-gap: 5px ;

            > div > * {
              height: 50px;
              display: flex;
              align-items: center;
            }
    
            button {
                box-sizing: border-box;
                width: 100%;
            }

            .line {
              &:after {
                content: "";
                display: table;
                clear: both;
              }

              > div {
                float:left;

                &:first-child {
                  width:60%;
                }
                &:last-child { 
                  width:40%;
                  margin:0;
                }
              }
            }
        }

    }

    input 				{
      padding:10px;
      display:block;
      width:100%;
      border:none;
    }

    input:focus 		{ outline:none; }

    select {
      cursor: pointer;
      appearance: none;
      outline: 0;
      border: 0;
      box-shadow: none;
      width: 100%;
    }


    .logos {
        margin-top: 35px;
        display: flex;
        justify-content: space-between;

        img {
            width: 50px;
            height: 50px;
        }
    }
}

section.fourCards {

  .cards {
    display: grid;
  }

  img {
    display: none;
  }

  .card {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;

    border-radius: 10px;
    // height: 280px;
    padding: 20px;

    overflow: hidden;
    cursor: pointer;
    text-align: left;
    background-color: $white;

    h4 {
      width: 60%;
    }

  }

  .card.active {
    background-color: $yellow;
    transition: 0.4s;
    
    > .svg__yellow {
      background-image: url('../svg/white.svg');
    }
  }

}

section.parisNY {

  .h2-text p{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  a {
      margin-top: 40px;
      position: relative;
      width: fit-content;
      color: $grey;
      text-transform: uppercase;
      transition: 0.5s;

      &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: $yellow;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
      }

      &:hover {
        color: $black;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
  }
}

section.offres {

  .accordion { 
    display: flex;
    flex-direction: column;
  
    &__item {
      margin-bottom: 40px;
      flex: 1;
    }
  
    &__title {
      padding: 0px 15px;
      display: flex;
      column-gap: 20px;
      align-items: center;
      position: relative;
      font-weight: 400;
      justify-content: space-between;

      .text {
        text-align: left;
      }
  
      &:hover,
      &:focus {
        cursor: pointer;
        outline: none;
        h5 {
          border-bottom-color: #a8bdc4;
          display:inline-block;
        }
      }
  
      .is-expanded & {
        &:before {
          content: "\f056";
        }
  
      }
    }
  
      &__content-inner {
          padding: 30px 0px;
      }
  
    &__content {
      transition: height 0.3s ease-out;
      height: 0;
      overflow: hidden;
    }

    li {
      list-style-position: inside !important;
      margin-top: 10px;
    }
  }

  .devis {
    margin-top: 50px;
    text-align: center;
  }
}

section.pepitesFestives {


  .pepite {
    height: 520px;
    cursor: pointer;
    // width: 230px;

    .img {
      width: 100%;

      &__one {
        height: 260px;
      }
    }

    
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .light {
    margin-top: 25px;
    font-weight: $fw-light;
  }
}

section.presse {


  .liens {
    margin-top: 35px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 35px;

    img {
        width: 80px;
        height: 80px;
    }
  }
}

section.devenir {

  .prestataire {
    background-color: $yellow;
    border-radius: 10px;
    padding: 20px;
  }

  .both {
    display: flex;
    flex-flow: column wrap;
    row-gap: 40px;
  }
}