html {
    font-size: 100%;
    line-height: 1.5;
    position: relative;
}

.h2-text {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.container {
    margin-left: 25px;
    margin-right: 25px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.margin-top-section {
  margin-top: 70px;
}

.light {
  font-weight: $fw-light;
}

span.bold {
  font-weight: 600;
}

section.hero {
    background-color: $yellow;
    background-image: url('../svg/bg.svg');
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 35px;

    .text_intro p{
        display: none;
    }

    .home_search_form {
        margin-top: 42px;

        .form_content {
            border: 5px solid $white;
            background-color: $white;
            padding-top: 20px;
            padding-left: 0px;
            border-radius: 20px;
            display: flex;
            flex-flow: column nowrap;
            row-gap: 10px ;
            justify-content: space-between;

            > div > * {
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
    
            button {
                box-sizing: border-box;
                width: 100%;
            }

            img {
              max-width:100%;
              max-height:40px;
            }

            .line {
              &:after {
                content: "";
                display: table;
                clear: both;
              }

              > div {
                float:left;

                &:first-child {
                  width:50%;
                }

                &:last-child { 
                  width:50%;
                  margin:0;
                }
              }
            }
        }

    }

    .with_logo {
      display: flex;
      align-items: center;
      flex-flow: row nowrap;
      column-gap: 10px;

      padding-left: 20px;
      padding-right: 20px;
    }

    .heroBtn {
      border-radius: 0 0 20px 20px;
      text-transform: uppercase;
      background-color: $yellow;
      color: $black;
      border: 1px solid transparent;
      font-size: $fs-base;
      font-weight: $fw-h5;
      padding: 25px 35px;
    }

    input 				{
      padding:10px;
      display:block;
      width:100%;
      border:none;
    }
    
    select {
      cursor: pointer;
      border: 0;
      background-color: $white;
      box-shadow: none;
      width: 100%;
      text-align-last: center;
    }


    .logos {
        margin-top: 35px;
        display: flex;
        flex-flow: row wrap;

        img {
            width: 100px;
            height: 100px;
        }
    }
}

section.fourCards {

  img {
    display: none;
  }

  .card {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;

    border-radius: 10px;
    // height: 280px;
    padding: 20px;

    overflow: hidden;
    cursor: pointer;
    text-align: left;
    background-color: $white;

    height: 250px;

    h4 {
      width: 60%;
    }

  }

  .card.active {
    background-color: $yellow;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    
    > .svg__yellow {
      background-image: url('../svg/white.svg');
      -webkit-transition: background-color 300ms linear;
      -ms-transition: background-color 300ms linear;
      transition: background-color 300ms linear;
    }
  }

  .svg {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    position: absolute;
    top:0;
    right: 0;
    transform: translate(-50%, 25%);


    &__yellow {
        background-image: url('../svg/yellow.svg');
        
    }
}

}

section.parisNY {

  .h2-text p{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  a {
      margin-top: 40px;
      position: relative;
      width: fit-content;
      color: $grey;
      text-transform: uppercase;
      transition: 0.5s;

      &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: $yellow;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
      }

      &:hover {
        color: $black;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
  }
}

section.offres {

  .accordion { 
    display: flex;
    flex-direction: column;
  
    &__item {
      margin-bottom: 40px;
      flex: 1;
    }
  
    &__title {
      padding: 0px 15px;
      display: flex;
      column-gap: 20px;
      align-items: center;
      position: relative;
      font-weight: 400;
      justify-content: space-between;

      .text {
        text-align: center;
        width: 100%;
      }
  
      &:hover,
      &:focus {
        cursor: pointer;
        h5 {
          border-bottom-color: #a8bdc4;
          display:inline-block;
        }
      }
  
      .is-expanded & {
        &:before {
          content: "\f056";
        }
  
      }
    }
  
      &__content-inner {
          padding: 30px 0px;
      }
  
    &__content {
      transition: height 0.3s ease-out;
      height: 0;
      overflow: hidden;
    }

    li {
      list-style-position: inside !important;
      margin-top: 10px;
    }
  }

  .devis {
    margin-top: 50px;
    text-align: center;
  }
}

section.pepitesFestives {

  .pepite {
    border-radius: 20px;
    cursor: pointer;
    background-color: $white;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;

    p, h4 {
      padding-left: 20px;
      padding-right: 20px;
    }

    :nth-child(4) {
      padding-bottom: 20px;
    }

    &:hover, &:active, &:focus {
      -webkit-transition: background-color 300ms linear;
      -ms-transition: background-color 300ms linear;
      transition: background-color 300ms linear;
      background-color: $lightGreen;
    }
  } 
    
    .img {
      width: 100%;

      &__one {
        height: 260px;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  
    .light {
      margin-top: 25px;
    }
    
}

section.premierPas {
  #inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 25px;
    row-gap: 25px;
    
    > * {
      position: relative;
      width: 340px;
      height: 140px;
      padding: 15px;
      border-radius: 10px;

      &:hover, &:focus {
        background-color: $yellow;
        -webkit-transition: background-color 300ms linear;
        -ms-transition: background-color 300ms linear;
        transition: background-color 300ms linear;
        cursor: pointer;

        > a .svg__yellow {
          background-image: url('../svg/white.svg');
          -webkit-transition: background-color 300ms linear;
          -ms-transition: background-color 300ms linear;
          transition: background-color 300ms linear;
        }
      }
    }
  }

  .inner_card {
      -webkit-transition: background-color 300ms linear;
        -ms-transition: background-color 300ms linear;
        transition: background-color 300ms linear;
    &__1 {
      background-color: $lightGreen;
    }
    &__2 {
      background-color: $lightBlue;
    }
    &__3 {
      background-color: $lightYellow;
    }
    &__4 {
      background-color: $pink;
    }
    &__5 {
      background-color: $lightPurple;
    }
  }

    .svg {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-size: cover;
      position: absolute;
      top:0;
      right: 0;
      transform: translate(-50%, 25%);

      &__yellow {
          background-image: url('../svg/yellow.svg');
      }
  }
}

section.avisClient {

  .avis_side {
    display: flex;
    flex-flow: column nowrap;
  }

  .avis_right {
    display: flex;
  }

  .avis {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 40px;
    width: 100%;
    
    .svg__pink {
      width: 40px;
      height: 170px;
      background-color: $pink;
      transform: rotate(15deg);
      margin-right: 50px;
      z-index: -1;
    }

    .text {
      width: 60%;
      display: flex;
      flex-flow: column nowrap;
      row-gap: 5px;
      justify-content: center;

      &__2 {
        width: 100%;
      }
    }
  }

  .description_vidéo {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 15px;
  }

  a {
    position: relative;
    width: fit-content;
    color: $grey;
    text-transform: uppercase;
    transition: 0.5s;

    &::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 3px;
      background: $yellow;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s;
    }

    &:hover {
      color: $black;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

section.presse {


  .liens {
    margin-top: 35px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    img {
        width: 100px;
        height: 100px;
    }
  }
}

section.devenir {

  .prestataire {
    background-color: $yellow;
    border-radius: 10px;
    padding: 20px;
    position: relative;

    button {
      cursor: pointer;
    }
  }

  .both {
    display: flex;
    flex-flow: column wrap;
    row-gap: 40px;

    > * {
      display: flex;
      flex-flow: column nowrap;
      height: 260px;
    }
  }

  .choix {
    background-color: $white;
    border-radius: 10px;
    padding: 20px;
    position: relative;

    .inside {
      margin-left: auto;
    }

    .danse {
      position: absolute;
      left: 0;
      top:0;
      display: none;
    }

    a {
      align-self: end;
    }
  }

  h3 {
    margin-bottom: 15px;
  }

  a {
    margin-top: 40px;
    padding: 5px 15px;
    position: relative;
    width: fit-content;
    color: $grey;
    text-transform: uppercase;
    transition: 0.5s;

    &::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 3px;
      background: $yellow;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s;
    }

    &:hover {
      color: $black;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  .inside {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    flex-flow: column nowrap;
  }
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.brand-wheel {
  flex-direction: row;
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;
  height: 100px;

  --animationspeed: 45s;
  --animationdelay: calc(var(--animationspeed) / 2);
}

.brand-wheel::before {
  position: absolute;
  background-image: linear-gradient(
    to right,
    $yellow 0%,
    rgba(255, 255, 255, 0) 100%
  );

  content: "";
  height: 100%;
  width: 5%;
  z-index: 2;
  pointer-events: none;
}
.brand-wheel::after {
  position: absolute;
  background-image: linear-gradient(
    to left,
    $yellow 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  width: 5%;
  z-index: 2;
  pointer-events: none;
  right: 0;
}

.brand-slide {
  flex-shrink: 0;
  position: absolute;
  animation-name: slidelogo;
  animation-duration: var(--animationspeed);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
}

.brand-slide.delay {
  transform: translateX(100%);
  animation-name: slidelogo2;
}

.brand-wheel:hover .brand-slide {
  animation-play-state: paused;
}

.logo-div {
  display: inline-flex;
  align-self: center;
  animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  padding: 0 20px 0 20px;
}

@keyframes slidelogo {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slidelogo2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
